@import "../../scss/constants";

.modal {
    background-color: $violetBackgroundColor;
    position: absolute;
    top: 100px;
    bottom: 0;
    right: 100px;
    left: 100px;
    height: 500px;
    width: 500px;
    border-radius: 20px;
  }