@import "../../../../scss/constants";

.day {
    height: 19px;
    width: 19px;
    border-radius: 100%;
    margin: 2px 5px 2px 0;
    border: 2px solid $darkVioletThemeColor;
    cursor: pointer;

    @media (max-width: $mobileBreakpoint) {
        margin-bottom: 5px;
    }
}

.marked {
    background-color: $darkVioletThemeColor;
}

.notMarked {
    background-color: none;
}