@import "../../../../scss/constants";

.day {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin-right: 10px;
    border: 2px solid $darkVioletThemeColor;
    cursor: pointer;

    @media (max-width: $mobileBreakpoint) {
        margin-bottom: 5px;
    }
}

.marked {
    background-color: $darkVioletThemeColor;
}

.notMarked {
    background-color: none;
}