@import "../../scss/constants";

.header {
    display: grid;
    grid-template-columns: 5% 30% auto 15% 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.container {
    grid-column: 2;
}

.image {
    height: 50px;
}

.button {
    border: 2px solid $black;
    border-radius: 5px;
    grid-column: 4;
    color: $black;
    font-family: $mainFont;
    font-size: 18px;
    padding: 5px 10px;
    align-self: center;
    text-decoration: none;
    text-align: center;

    @media (max-width: $mobileBreakpoint) {
        font-size: 14px;
    }
}
