@import "../../scss/constants";

.header {
    display: grid;
    grid-template-columns: 5% 30% auto 20% 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.logoContainer {
    grid-column: 2;
}

.image {
    height: 50px;
}

.loginIn {
    width: 100%;
}

.button {
    border: 2px solid $black;
    border-radius: 5px;
    grid-column: 4;
    color: $black;
    font-family: $mainFont;
    font-size: 18px;
    padding: 5px 15px;
    align-self: center;
    text-decoration: none;
    text-align: center;

    &:hover {
        font-weight: 700;
    }

    @media (max-width: $mobileBreakpoint) {
        font-size: 11px;
    }
}

.loggedUserSection {
    grid-column: 4;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;

    @media (max-width: $mobileBreakpoint) {
        justify-content: flex-end;
        height: 100%;
    }
}

.loggedButton {
    border: none;
    font-size: 15px;
    font-family: $mainFont;
    text-decoration: none;
    text-align: right;
    color: $darkGreyThemeColor;
    align-self: center;

    &:hover {
        font-weight: 700;
    }

    @media (max-width: $mobileBreakpoint) {
        font-size: 12px;
        font-weight: 600;
    }
}

.ongoingHabits {
    color: $violetThemeColor;
    margin-right: 25px;

    @media (max-width: $mobileBreakpoint) {
        margin-right: 0;
    }
}
