@import "../../../scss/constants";

.singleHabit {
    margin-bottom: 20px;
    background-color: none;
    box-shadow: 1px 2px 5px $boxShadowColor;
    border-radius: 10px;
}

.habitHeader {
    padding: 15px 20px;
    background-color: $darkGreyThemeColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    border-radius: 10px 10px 0 0;

    h5 {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        font-family: $mainFont;
    }

    button {
        border: none;
        color: $white;
        background-color: $darkGreyThemeColor;
        font-family: $mainFont;
        font-size: 10px;
        cursor: pointer;
        padding-right: 0;

        &:hover {
            font-size: 11px;
        }
    }
}

.progressArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $darkGreyThemeColor;
    border-radius: 0 0 10px 10px;
    background-color: $white;
    padding: 15px 20px;
    flex-wrap: wrap;
}

.daysArea {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;


    @media (max-width: $mobileBreakpoint) {
        padding-bottom: 5px;
    }
}

.progress {
    font-weight: 600;
    font-family: $mainFont;
    letter-spacing: 1px;
}

.progressMark {
    color: $darkVioletThemeColor;
}

.days {
    letter-spacing: 0;
    font-weight: 0;
    color: darken($grayBackgroundColor, 10%);
    font-size: 13px;
    text-align: center;
}

.shown {
    display: block;
}

.hidden {
    display: none;
}
