@import "../../scss/constants";

.grayBackground {
    background-color: $grayBackgroundColor;
}

.violetBackground {
    background-color: $violetBackgroundColor;
}

.whiteBackground {
    background-color: $whiteBackgroundColor;
}
