@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900|Roboto:400,700");
.header {
  display: grid;
  grid-template-columns: 5% 30% auto 15% 5%;
  height: 80px;
  align-items: center; }

.logo-container {
  grid-column: 2; }
  .logo-container img {
    height: 50px; }

.login-btn {
  border: 2px solid #000;
  border-radius: 5px;
  grid-column: 4;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  height: 50px;
  align-self: center; }

.footer {
  background-color: #E4E4ED;
  font-family: "Lato", sans-serif;
  color: #43435D;
  font-size: 22px;
  font-weight: 300;
  height: 100px;
  display: grid;
  grid-template-columns: 5% auto 5%;
  align-items: center;
  text-align: center; }
  .footer span {
    grid-column: 2; }

.welcome-page-section {
  display: grid;
  grid-template-columns: 5% auto 5%;
  background-color: #F0F0F7; }

.welcome-page-row {
  height: 500px;
  grid-column: 2;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  align-items: center; }
  .welcome-page-row .details {
    grid-column: 1;
    align-self: start; }
    .welcome-page-row .details h4 {
      color: #707070;
      font-size: 56px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      margin-bottom: 0; }
    .welcome-page-row .details p {
      margin: 30px 0;
      color: #43435D;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      line-height: 1.5; }
    .welcome-page-row .details .login-section {
      background-color: #fff;
      height: 150px;
      width: 150px;
      border-radius: 10px; }
  .welcome-page-row .image-section {
    grid-column: 3; }
    .welcome-page-row .image-section img {
      height: 400px; }
